/* styles.css */

/* Styles for the lighting button */
#ambientLightButton {
    margin-right: 10px;
}

#directionalLightButton {
    margin-right: 10px;
}

#pointLightButton {
    margin-right: 10px;
}

#spotLightButton {
    margin-right: 10px;
}
#hemisphereLightButton {
    margin-right: 10px;
}
